<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/auth.css">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300&display=swap"
    rel="stylesheet">
    <title>Authentication</title>
</head>

<body>
    <div class="hero-wrapper">
        <div class="container">
            <div><img class="bg-img" src="./images/bgauth.png" alt="backgroung-image"></div>
        </div>
        <div class="content">
            <div class="sub-container">
                <form action="/auth" method="post">
                    <div class="text"><h2 name="text">Faculty Authentication</h2></div>
                    <div class="key-img"><img src="./images/key.png" alt=""></div>
                    <div class="pass"><input class="enter" name="pass" type="password" placeholder="Enter Password"></div>
                    <div class="btn"><button class="auth" type="submit">Authenticate</button></div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>