/* css home page  */
*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.navigation{
    padding: 20px;
    display: flex;
    align-items: center;
}
.logo-name{
    padding: 10px;
    font-family: 'work-sans' , sans-serif;
    font-size: 25px;
}
.container{
    display: flex;
}
.index-image{
    padding: 30px 0px 30px 110px;
    width: 600px;
    height: 520px;
    margin-bottom: 30px;
}
.form-container{
    margin-top: 80px;
    margin-left: 230px;
    text-align: center;
    padding: 30px;
    background-color: #17EE8F;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 380px;
    width: 350px;
}
.logo{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.select-radio{  
    padding: 20px;
    font-size: 22px;
    font-family: "work-sans", sans-serif;
    font-weight: 600;
}
.select-opt{
    padding: 10px;
}
.select-list{
    padding: 10px;
    border-radius: 20px;
    width: 300px;
    height: 45px;
    text-align: center;
    font-family: "work-sans", sans-serif;
    font-size: 20px;
    appearance: none;
}

.enter-btn{
    margin-top: 30px;
    padding: 10px;
    width: 150px;
    border-radius: 8px;
    font-family: "work-sans",sans-serif;
    background-color: white;
    cursor: pointer;
}

